# Kconfig - Config options for EC FW
#
# Copyright (c) 2024 Silicom Connectivity Solutions, Ltd.
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Voltage Monitor"

config VOLTAGE_MONITOR
	bool "Enable voltage monitor"
	help
	  Indicate if EC supports monitoring of voltage sources.

config VOLTAGE_MONITOR_LOG_LEVEL
	int "Voltage monitor log level"
	depends on LOG
	depends on VOLTAGE_MONITOR
	default 0
	default 2 if CONFIG_EC_DEBUG_LOG_LEVEL
	help
	  Set log level for voltage management module.

endmenu
