# Copyright (c) 2025, Silicom Connectivity Solutions
# SPDX-License-Identifier: Apache-2.0

config BOARD_MEC172X_ADL_N_CP
	bool "Silicom ADL-N MEC172X Checkpoint EC"
	depends on SOC_MEC172X_NLJ

config EC_ONBOARD_SWITCHES_DISABLE
	bool "Disable onboard switches support"
	depends on BOARD_MEC172X_ADL_N_CP
