/*
 * Copyright (c) 2025, Silicom Connectivity Solutions
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <microchip/mec172xnlj.dtsi>
#include <microchip/mec172x/mec172xnsz-pinctrl.dtsi>
#include <microchip/mec172x/mec172xnlj-pinctrl.dtsi>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	model = "Silicom ADL-N MEC172X Checkpoint EC";
	compatible = "microchip,mec172x_adl_n_cp", "microchip,mec172xnlj";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart1;
	};

	aliases {
		i2c0 = &i2c_smb_0;
		i2c-0 = &i2c_smb_0;
		i2c3 = &i2c_smb_1;
		i2c11 = &i2c_smb_2;
		peci-0 = &peci0;
		led1 = &pwmmcled1;
		eeprom0 = &eeprom;
		fan0 = &fan1_1;
		fan1 = &fan1_2;
		fan2 = &fan1_3;
		fan3 = &fan1_4;
		tach0 = &fan_speed1;
		tach1 = &fan_speed2;
		tach2 = &fan_speed3;
		tach3 = &fan_speed4;
	};

	gpio_keys {
		compatible = "gpio-keys";

		/* make a DT entry for the ESPI_RESET# input */
		espi_rst_maf: espi-rst {
			gpios = <&gpio_040_076 16 GPIO_ACTIVE_LOW>;
			label = "ESPI_RST_MAF";
		};
	};

	pwm_mc_leds: pwm_mc_leds {
		compatible = "pwm-leds-multicolor";

		pwmmcled1: pwmmcled-1 {
			pwms = <&pwm10 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm7  0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm8  0 PWM_MSEC(5) PWM_POLARITY_INVERTED>;

			color-mapping = <LED_COLOR_ID_RED>,
					<LED_COLOR_ID_GREEN>,
					<LED_COLOR_ID_BLUE>;
		};
		pwmmcled2: pwmmcled-2 {
			pwms = <&pwm2 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
			       <&pwm9 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
			       <&pwm3 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>;

			color-mapping = <LED_COLOR_ID_RED>,
					<LED_COLOR_ID_GREEN>,
					<LED_COLOR_ID_BLUE>;
		};
	};

	gpio_leds {
		compatible = "gpio-leds";
		amber_mid: led_0 {
			/* GPIO 157 */
			gpios = <&gpio_140_176 15 GPIO_ACTIVE_HIGH>;
		};
		amber_bot: led_1 {
			/* GPIO 153 */
			gpios = <&gpio_140_176 11 GPIO_ACTIVE_HIGH>;
		};
		fan1led: led_2 {
			/* GPIO 232 */
			gpios = <&gpio_200_236 26 GPIO_ACTIVE_LOW>;
		};
		fan2led: led_3 {
			/* GPIO 222 */
			gpios = <&gpio_200_236 18 GPIO_ACTIVE_LOW>;
		};
		fan3led: led_4 {
			/* GPIO 1 */
			gpios = <&gpio_000_036 1 GPIO_ACTIVE_LOW>;
		};
		fan4led: led_5 {
			/* GPIO 244 */
			gpios = <&gpio_240_276 5 GPIO_ACTIVE_LOW>;
		};
		pwr_led_green: led_6 {
			/* GPIO 115 */
			gpios = <&gpio_100_136 13 GPIO_ACTIVE_LOW>;
		};
		fan_fail: led_7 {
			/* GPIO 112 */
			gpios = <&gpio_100_136 10 GPIO_ACTIVE_LOW>;
		};
		front_location: led_8 {
			/* GPIO 131 */
			gpios = <&gpio_100_136 25 GPIO_ACTIVE_LOW>;
		};
		psu_amber: led_9 {
			/* GPIO 14 */
			gpios = <&gpio_000_036 12 GPIO_ACTIVE_LOW>;
		};
		psu_green: led_10 {
			/* GPIO 2 */
			gpios = <&gpio_000_036 2 GPIO_ACTIVE_LOW>;
		};
	};

	voltage0: voltage12v {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 0>;
		io-channel-names = "12V";
		output-ohms = <3300>;
		full-ohms = <(10000+3300)>; 
	};
	voltage1: voltage5v {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 1>;
		io-channel-names = "5V";
		output-ohms = <10000>;
		full-ohms = <(10000+10000)>;
	};
	voltage2: voltage3v3alwon {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 2>;
		io-channel-names = "3.3VAlwaysOn";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	voltage3: voltage1v8alwon {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 3>;
		io-channel-names = "1.8VAlwaysOn";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	therm0: thermistor-0 {
		compatible = "murata,ncp15xh103";
		io-channels = <&adc0 4>;
		pullup-uv = <3300000>;
		pullup-ohm = <3300>;
		pulldown-ohm = <0>;
		friendly-name = "Ambient";
	};
	therm1: thermistor-1 {
		compatible = "murata,ncp15xh103";
		io-channels = <&adc0 5>;
		pullup-uv = <3300000>;
		pullup-ohm = <3300>;
		pulldown-ohm = <0>;
		friendly-name = "Core VR";
	};
	therm2: thermistor-2 {
		compatible = "murata,ncp15xh103";
		io-channels = <&adc0 6>;
		pullup-uv = <3300000>;
		pullup-ohm = <3300>;
		pulldown-ohm = <0>;
		friendly-name = "DDR";
	};
	voltage4: voltage1v8 {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 9>;
		io-channel-names = "1.8V";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	therm3: thermistor-3 {
		compatible = "murata,ncp15xh103";
		io-channels = <&adc0 10>;
		pullup-uv = <3300000>;
		pullup-ohm = <3300>;
		pulldown-ohm = <0>;
		friendly-name = "CPU";
	};
	voltage5: voltagevccinaux {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 11>;
		io-channel-names = "VCCinAux";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	voltage6: voltage1v064vdd2 {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 12>;
		io-channel-names = "1.06V_VDD2";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	voltage7: voltage0vttsodimm {
		compatible = "voltage-divider";
		status = "okay";
		io-channels = <&adc0 14>;
		io-channel-names = "VTT_SODIMM";
		output-ohms = <1>;
		full-ohms = <1>;
	};
	current0: voutpwrmon {
		compatible = "current-sense-amplifier";
		status = "okay";
		io-channels = <&adc0 15>;
		io-channel-names = "VOUT_PWRMON";
		sense-resistor-micro-ohms = <3>;
		sense-gain-mult = <50>;
	};

	zephyr,user {
//		signal-gpios = <&gpio_100_136 1 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&gpio101 &gpio102 &gpio172 &gpio173 &gpio_uc_2>;
		pinctrl-names = "default";
	};
};

//&bbled0 {
//	compatible = "microchip,xec-bbled";
//	status = "okay";
//	pinctrl-0 = <&led0_gpio156>;
//	pinctrl-names = "default";
//};

//&bbled1 {
//	compatible = "microchip,xec-bbled";
//	status = "okay";
//	pinctrl-0 = <&led1_gpio157>;
//	pinctrl-names = "default";
//};

//&bbled2 {
//	compatible = "microchip,xec-bbled";
//	status = "okay";
//	pinctrl-0 = <&led2_gpio153>;
//	pinctrl-names = "default";
//};

&cpu0 {
	clock-frequency = <96000000>;
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_tx_gpio104 &uart0_rx_gpio105
		     &uart0_cts_n_gpio143 &uart0_rts_n_gpio144>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_tx_gpio170 &uart1_rx_gpio171>;
	pinctrl-names = "default";
};

&eeprom {
	status = "okay";

	pinctrl-0 = <&eeprom_cs_gpio116
		     &eeprom_clk_gpio117
		     &eeprom_mosi_gpio074
		     &eeprom_miso_gpio075>;
	pinctrl-names = "default";
};

&i2c_smb_0 {
	status = "okay";
	port_sel = <0>;

	pinctrl-0 = <&i2c00_sda_gpio003
		     &i2c00_scl_gpio004>;
	pinctrl-names = "default";

	vr: vr@20 {
		compatible = "vnd,i2c-device";
		status = "okay";
		reg = <0x20>;
	};

	sw_regulator0: swr@21 {
		compatible = "vnd,i2c-device";
		status = "okay";
		reg = <0x21>;
	};

};

&i2c_smb_1 {
	status = "okay";
	port_sel = <3>;

	pinctrl-0 = <&i2c03_sda_gpio007
                     &i2c03_scl_gpio010>;
	pinctrl-names = "default";

	fru: dev@56 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x56>;
		size = <512>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};

	spd: dev@54 {
		compatible = "atmel,at24";
		status = "disabled";
		reg = <0x54>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};
};

&i2c_smb_2 {
	status = "ok";
	port_sel = <5>;
	
	pinctrl-0 = <&i2c05_sda_gpio141 &i2c05_scl_gpio142>;
	pinctrl-names = "default";

	lom_mgmt: lom_mgmt@30 {
		compatible = "i2c-target-lom-mgmt";
		status = "okay";
		reg = <0x30>;
		//size = <2048>;
	};
};

&i2c_smb_3 {
	status = "okay";
	port_sel = <8>;

	pinctrl-0 = <&i2c08_sda_gpio231 &i2c08_scl_gpio230>;
	pinctrl-names = "default";

	mfd1: dev@4d {
		compatible = "microchip,emc230x";
		status = "okay";
		reg = <0x4d>;

		fanctrl1: fancontroller {
			compatible = "microchip,emc230x-pwm";
			status = "okay";
			#pwm-cells = <2>;

			fan1_1: FAN1 {
				status = "okay";
				pwms = <&fanctrl1 0 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan1_2: FAN2 {
				status = "okay";
				pwms = <&fanctrl1 1 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan1_3: FAN3 {
				status = "okay";
				pwms = <&fanctrl1 2 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan1_4: FAN4 {
				status = "okay";
				pwms = <&fanctrl1 3 26000>;
				edges = <5>;
				initial = <25>;
			};
		};
		fan_speed1: fanspeed1 {
			compatible = "microchip,emc230x-fan-speed";
			status = "okay";
			channel = <1>;
		};
		fan_speed2: fanspeed2 {
			compatible = "microchip,emc230x-fan-speed";
			status = "okay";
			channel = <2>;
		};
		fan_speed3: fanspeed3 {
			compatible = "microchip,emc230x-fan-speed";
			status = "okay";
			channel = <3>;
		};
		fan_speed4: fanspeed4 {
			compatible = "microchip,emc230x-fan-speed";
			status = "okay";
			channel = <4>;
		};
	};

	mfd2: dev@2f {
		compatible = "microchip,emc230x";
		status = "okay";
		reg = <0x2f>;

		fanctrl2: fancontroller {
			compatible = "microchip,emc230x-pwm";
			status = "okay";
			#pwm-cells = <2>;

			fan2_1: FAN1 {
				pwms = <&fanctrl2 0 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan2_2: FAN2 {
				pwms = <&fanctrl2 1 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan2_3: FAN3 {
				pwms = <&fanctrl2 2 26000>;
				edges = <5>;
				initial = <25>;
			};
			fan2_4: FAN4 {
				pwms = <&fanctrl2 3 26000>;
				edges = <5>;
				initial = <25>;
			};
		};
	};

	fancage1: dev@54 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x54>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};

	fancage2: dev@55 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x55>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};

	fancage3: dev@56 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x56>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};

	fancage4: dev@57 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x57>;
		size = <256>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};
};

&i2c_smb_4 {
	status = "okay";
	port_sel = <11>;

	pinctrl-0 = <&i2c11_sda_alt_gpio005 &i2c11_scl_alt_gpio006>;
	pinctrl-names = "default";
};

&i2c03_sda_gpio007 {
	drive-open-drain;
	output-high;
};

&i2c03_scl_gpio010 {
	drive-open-drain;
	output-high;
};

&i2c05_sda_gpio141 {
	drive-open-drain;
	output-high;
};

&i2c05_scl_gpio142 {
	drive-open-drain;
	output-high;
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc00_gpio200 &adc01_gpio201
		     &adc02_gpio202 &adc03_gpio203
		     &adc04_gpio204 &adc05_gpio205
		     &adc06_gpio206
		     &adc09_gpio211 &adc10_gpio212
		     &adc11_gpio213 &adc12_gpio214
		     &adc13_gpio215 &adc14_gpio216
		     &adc15_gpio217>;
	pinctrl-names = "default";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@9 {
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@a {
		reg = <10>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@b {
		reg = <11>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@c {
		reg = <12>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@d {
		reg = <13>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@e {
		reg = <14>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

	channel@f {
		reg = <15>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <10>;
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};

};

&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2_alt_gpio045>;
	pinctrl-names = "default";
};

&pwm3 {
	status = "okay";
	pinctrl-0 = <&pwm3_alt_gpio047>;
	pinctrl-names = "default";
};

&pwm7 {
	status = "okay";
	pinctrl-0 = <&pwm7_gpio015>;
	pinctrl-names = "default";
};

&pwm8 {
	status = "okay";
	pinctrl-0 = <&pwm8_gpio035>;
	pinctrl-names = "default";
};

&pwm9 {
	status = "okay";
	pinctrl-0 = <&pwm9_gpio133>;
	pinctrl-names = "default";
};

&pwm10 {
	status = "okay";
	pinctrl-0 = <&pwm10_gpio134>;
	pinctrl-names = "default";
};

/* Initialize ECIA. Does not initialize child devices */
&ecia {
	status = "okay";
};

/* Enable aggregated GIRQ24 and GIRQ25 for eSPI virtual wires interrupts */
&girq24 {
	status = "okay";
};

&girq25 {
	status = "okay";
};

&rtimer {
	status = "okay";
};

&pcr {
	status = "okay";
};

&espi0 {
	status = "okay";
	pinctrl-0 = < &espi_reset_n_gpio061 &espi_cs_n_gpio066
		      &espi_alert_n_gpio063 &espi_clk_gpio065
		      &espi_io0_gpio070 &espi_io1_gpio071
		      &espi_io2_gpio072 &espi_io3_gpio073 >;
	pinctrl-names = "default";
};

&acpi_ec0 {
	status = "okay";
};

&acpi_ec1 {
	status = "okay";
};

&emi1 {
	status = "okay";
};

&peci0 {
	status = "okay";
	pinctrl-0 = <&peci_dat_gpio042>;
	pinctrl-names = "default";
};

&pinctrl {
	gpio101: gpio101 {
		pinmux = < MCHP_XEC_PINMUX(0101, MCHP_AF0) >;
		bias-disable;
	};
	gpio102: gpio102 {
		pinmux = < MCHP_XEC_PINMUX(0102, MCHP_AF0) >;
		bias-disable;
	};
	gpio172: gpio172 {
		pinmux = < MCHP_XEC_PINMUX(0172, MCHP_AF0) >;
		bias-disable;
	};
	gpio173: gpio173 {
		pinmux = < MCHP_XEC_PINMUX(0173, MCHP_AF0) >;
		bias-disable;
	};
	gpio_uc_0: gpio112 {
		pinmux = < MCHP_XEC_PINMUX(112, MCHP_GPIO) >;
		bias-pull-down;
	};
	gpio_uc_1: gpio113 {
		pinmux = < MCHP_XEC_PINMUX(113, MCHP_GPIO) >;
		bias-pull-down;
	};
	gpio_uc_2: gpio025 {
		pinmux = < MCHP_XEC_PINMUX(025, MCHP_GPIO) >;
		bias-pull-down;
	};
};

&wdog {
	status = "okay";
};	
