/*
 * Copyright (c) 2022, Silicom Connectivity Solutions
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <microchip/mec172xnlj.dtsi>
#include <microchip/mec172x/mec172xnsz-pinctrl.dtsi> 
#include <microchip/mec172x/mec172xnlj-pinctrl.dtsi>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/reset/mec172x_reset.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	model = "Silicom Arizona Beach MEC172X EC";
	compatible = "microchip,mec172x_azbeach", "microchip,mec172xnlj";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &uart0;
	};

	aliases {
		i2c0 = &i2c_smb_0;
		i2c-0 = &i2c_smb_0;
		i2c3 = &i2c_smb_1;
		i2c11 = &i2c_smb_2;
		pwm-0 = &pwm0;
		peci-0 = &peci0;
		led-1 = &pwmmcled0;
		eeprom0 = &eeprom;
	};

	gpio_keys {
		compatible = "gpio-keys";

		/* make a DT entry for the ESPI_RESET# input */
		espi_rst_maf: espi-rst {
			gpios = <&gpio_040_076 16 GPIO_ACTIVE_LOW>;
			label = "ESPI_RST_MAF";
		};
	};

	pwm_mc_leds: pwm_mc_leds {
		compatible = "pwm-leds-multicolor";

		pwmmcled0: pwmmcled-0 {
			pwms = <&pwm4 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm5 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm6 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>;

			color-mapping = <LED_COLOR_ID_RED>,
					<LED_COLOR_ID_GREEN>,
					<LED_COLOR_ID_BLUE>;
		};
		pwmmcled1: pwmmcled-1 {
			pwms = <&pwm10 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm7  0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm8  0 PWM_MSEC(5) PWM_POLARITY_INVERTED>;

			color-mapping = <LED_COLOR_ID_RED>,
					<LED_COLOR_ID_GREEN>,
					<LED_COLOR_ID_BLUE>;
		};
		pwmmcled2: pwmmcled-2 {
			pwms = <&pwm2 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm9 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>,
		       	       <&pwm3 0 PWM_MSEC(5) PWM_POLARITY_INVERTED>;

			color-mapping = <LED_COLOR_ID_RED>,
					<LED_COLOR_ID_GREEN>,
					<LED_COLOR_ID_BLUE>;
		};
	};

	gpioled0: gpioled-0 {
		compatible = "gpio-leds";
		gpio_led0: led-0 {
			/* GPIO032/KSI7/GPTP_OUT0/UART0_RI# */
			gpios = <&gpio_000_036 26 GPIO_ACTIVE_LOW>;
			label = "FP_AMB_LT";
		};
	};
	gpioled1: gpioled-1 {
		compatible = "gpio-leds";
		gpio_led1: led-1 {
			/* GPIO040/GPTP_OUT2/KSO00 */
			gpios = <&gpio_040_076 0 GPIO_ACTIVE_LOW>;
			label = "FP_AMB_CTR";
		};
	};
	gpioled2: gpioled-2 {
		compatible = "gpio-leds";
		gpio_led2: led-2 {
			/* GPIO041 */
			gpios = <&gpio_040_076 1 GPIO_ACTIVE_LOW>;
			label = "FP_AMB_RT";
		};
	};
	bgpo0: bgpo@4000ac9c {
		compatible = "microchip,xec-bgpo";
		reg = < 0x4000ac9c 0xc >;
		status = "okay";
		gpio-controller;
		#gpio-cells = <2>;
//		ngpios = <6>;
	};


	therm4: thermistor-4 {
		compatible = "ntc-thermistor";
		io-channels = <&adc0 4>;
		rnominal = <10000>;
		tnominal = <25>;
		rpullup = <3300>;
		b-const = <3455>;
	};
	therm5: thermistor-5 {
		compatible = "ntc-thermistor";
		io-channels = <&adc0 5>;
		rnominal = <10000>;
		tnominal = <25>;
		rpullup = <3300>;
		b-const = <3455>;
	};
	therm6: thermistor-6 {
		compatible = "ntc-thermistor";
		io-channels = <&adc0 6>;
		rnominal = <10000>;
		tnominal = <25>;
		rpullup = <3300>;
		b-const = <3455>;
	};
	therm10: thermistor-10 {
		compatible = "ntc-thermistor";
		io-channels = <&adc0 10>;
		rnominal = <10000>;
		tnominal = <25>;
		rpullup = <3300>;
		b-const = <3455>;
	};

	zephyr,user {
		signal-gpios = <&gpio_100_136 1 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&gpio101 &gpio102 &gpio172 &gpio173>;
		pinctrl-names = "default";
	};

};

&cpu0 {
	clock-frequency = <96000000>;
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_tx_gpio104 &uart0_rx_gpio105>;
	pinctrl-names = "default";
};

&eeprom {
	status = "okay";

	pinctrl-0 = <&eeprom_cs_gpio116
		     &eeprom_clk_gpio117
		     &eeprom_mosi_gpio074
		     &eeprom_miso_gpio075>;
	pinctrl-names = "default";
};

&i2c_smb_3 {
	status = "okay";
	label = "I2C3";
	port_sel = <3>;

	pinctrl-0 = <&i2c03_sda_gpio007
                     &i2c03_scl_gpio010>;
	pinctrl-names = "default";

	fru: dev@56 {
		compatible = "atmel,at24";
		status = "okay";
		reg = <0x56>;
		size = <2048>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <32>;
	};

	spd: dev@54 {
		compatible = "atmel,at24";
		status = "disabled";
		reg = <0x54>;
		size = <2048>;
		address-width = <8>;
		timeout = <25>;
		pagesize = <16>;
	};
};

&i2c03_sda_gpio007 {
	drive-open-drain;
	output-high;
};

&i2c03_scl_gpio010 {
	drive-open-drain;
	output-high;
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc04_gpio204 &adc05_gpio205
		     &adc06_gpio206 &adc10_gpio212>;
	pinctrl-names = "default";

	#address-cells = <1>;
	#size-cells = <0>;

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <10>;
	};

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <10>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <10>;
	};

	channel@a {
		reg = <10>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <0>;
		zephyr,resolution = <10>;
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_gpio053>;
	pinctrl-names = "default";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_gpio054>;
	pinctrl-names = "default";
};

&pwm2 {
	status = "okay";
	pinctrl-0 = <&pwm2_alt_gpio045>;
	pinctrl-names = "default";
};

&pwm3 {
	status = "okay";
	pinctrl-0 = <&pwm3_alt_gpio047>;
	pinctrl-names = "default";
};

&pwm4 {
	status = "okay";
	pinctrl-0 = <&pwm4_alt_gpio001>;
	pinctrl-names = "default";
};

&pwm5 {
	status = "okay";
	pinctrl-0 = <&pwm5_gpio002>;
	pinctrl-names = "default";
};

&pwm6 {
	status = "okay";
	pinctrl-0 = <&pwm6_gpio014>;
	pinctrl-names = "default";
};

&pwm7 {
	status = "okay";
	pinctrl-0 = <&pwm7_gpio015>;
	pinctrl-names = "default";
};

&pwm8 {
	status = "okay";
	pinctrl-0 = <&pwm8_gpio035>;
	pinctrl-names = "default";
};

&pwm9 {
	status = "okay";
	pinctrl-0 = <&pwm9_gpio133>;
	pinctrl-names = "default";
};

&pwm10 {
	status = "okay";
	pinctrl-0 = <&pwm10_gpio134>;
	pinctrl-names = "default";
};

&tach0 {
	status = "okay";
	pinctrl-0 = <&tach0_gpio050>;
	pinctrl-names = "default";
};

&tach1 {
	status = "okay";
	pinctrl-0 = <&tach1_gpio051>;
	pinctrl-names = "default";
};

/* Initialize ECIA. Does not initialize child devices */
&ecia {
	status = "okay";
};

/* Enable aggregated GIRQ24 and GIRQ25 for eSPI virtual wires interrupts */
&girq24 {
	status = "okay";
};

&girq25 {
	status = "okay";
};

&rtimer {
	status = "okay";
};

&pcr {
	status = "okay";
};

&espi0 {
	status = "okay";
	pinctrl-0 = < &espi_reset_n_gpio061 &espi_cs_n_gpio066
		      &espi_alert_n_gpio063 &espi_clk_gpio065
		      &espi_io0_gpio070 &espi_io1_gpio071
		      &espi_io2_gpio072 &espi_io3_gpio073 >;
	pinctrl-names = "default";
};

&spi0 {
	status = "okay";
	pinctrl-0 = < &pvt_cs_n_gpio124
		      &pvt_clk_gpio125
		      &pvt_io0_gpio121
		      &pvt_io1_gpio122
		      &pvt_io2_gpio123
		      &pvt_io3_gpio126 >;

	pinctrl-names = "default";
};

&acpi_ec0 {
	status = "okay";
};

&acpi_ec1 {
	status = "okay";
};

&peci0 {
	status = "okay";
	pinctrl-0 = <&peci_dat_gpio042>;
	pinctrl-names = "default";
};

&pinctrl {
	gpio101: gpio101 {
		pinmux = < MCHP_XEC_PINMUX(0101, MCHP_AF0) >;
	};
	gpio102: gpio102 {
		pinmux = < MCHP_XEC_PINMUX(0102, MCHP_AF0) >;
	};
	gpio172: gpio172 {
		pinmux = < MCHP_XEC_PINMUX(0172, MCHP_AF0) >;
	};
	gpio173: gpio173 {
		pinmux = < MCHP_XEC_PINMUX(0173, MCHP_AF0) >;
	};
};

&bgpo0 {
	pinctrl-0 = <&gpio101 &gpio102 &gpio172 &gpio173>;
	pinctrl-names = "default";
};

